{% extends 'MoocQuizBundle::layout.html.twig' %}
{% block body %}
    
<!-- Google map section -->
                                <div class="sc_section" data-animation="animated fadeInUp normal">
                                    <div class="sc_line sc_line_style_solid margin_top_0"></div>
                                    <h3>Google map</h3>
                                        
                                    <div id="sc_googlemap_1336029263" style="width:500px;height:380px;"></div>

                                </div>
								<!-- /Google map section -->
{% endblock %}